// Place all the styles related to the Welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
* {
    box-sizing: border-box;
}
#garbageBins {
  display: inline-block;
  width: 50%;
}

#map-container {
  display: inline-block;
  float: right;
  width: 50%;
}

#map {
  width: auto;
  height: 400px;
}

ul {
  width: auto;
  max-height: 400px;
  overflow-y: scroll;
}

#logo {
  display: block;
  max-width:230px;
  max-height:95px;
  width: auto;
  height: auto;
  float:right; 
}

#bin{
  display: inline-block;
  max-width: 80px;
  max-height:80px;
}

@media screen and (max-width: 720px){
 #map-container{
  width:100%;
  }
  #garbageBins{
  width:100%;
  }
  .navbar{
  min-height:40px;
  }
  .navbar-brand{
  font-size:18px;
  line-height:20px;
  }
}